name: GitHub Actions
on:
  - push

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"

      - name: Set up Python
        run: uv python install

      - name: Lint
        run: uv run ruff check

      - name: Format
        run: uv run ruff format --diff
